# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Python cache
__pycache__/

# Logs & PID
*.log
*.out
*.pid

# Hadoop runtime data (do not version)
hdfs/
logs/
tmp/

# Docker
.env
docker-compose.override.yml
